<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h2>Welcome to SC6016 Web3 App</h2>
        <p>please enter your details below</p>
        <form action="/main" method="post">
            <input type="text" name="q" placeholder="Enter your query">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>